language: php

php:
- '5.4'
- '5.5'
- '5.6'
- '7.0'
- '7.1'
- '7.2'

before_script:
- if find . -name "*.php" -exec php -l {} 2>&1 \; | grep -iv "no syntax errors detected"; then exit 1; fi

script: true

install: true

notifications:
  email:
    on_success: change
    on_failure: always
    recipients:
    - developers@cacti.net
  slack:
    secure: qr8NALEtD1rYYM3fJaQzFsJeXfjyEZvNXhJlERvwu7lbGim6jO1aOX0hB7DKFhRcZGPsEcyxthhEBISdEvLq3C98/ZQwkErlNkJJ6TXFttoAVVYG7n7EABRoHDNR5aiQ5Vy8gGXWrh3TjGsHAPNqQ35fg7MQIARD8Qs9d/2NnUDhEo1lB4xMYiV0zAM+8rEMOlNfiKoLeUd2oI1NNAcm/f/mSQdsy00nCswKNXuHXlzsVnFesVjuHeMFz0K9aEjC2fecCvj1euXxvfGfnXzmpy64Mty/MdNHXc4aR1WYHkVNqVWhj6yG4Ai5rArHXTZnvWsIdd78PDpITO0KRmowkHa0/BJ+qXfOhhSuAoRMm2ZjUacDSK3QMr/pw7rxHh2D8F6YB1E5mh6Y4X/PIZ6qoI5S72PQS0UqOn3GoBkNADw3qP4+yal0BDYaD7+Tf5T690m6YOIfi8zAvovKdIMOao7/WwHODZXgyH9BuqLQh1zNePOAC2Q+EsfVkVDHEkapN7zcKJxVF/9h2WDAWq0D+Fq0sE+jlYyZHVeWaJ4yEkAZJ3WkkZWID/MgxcnYG1/oG69eZwoDZYRv2M5C3P/44gPFGtqpArsNB0mU8AHN+quJ6QZKF7A8YlOnvD0+4NnGCcexixHdiujS2iJq+ixXohfqRRvzOkrYwyeIDVjidhY=
