<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Pest.php" colors="true">
    <testsuites>
        <testsuite name="Mactrack">
            <directory suffix="Test.php">tests/Pest</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </coverage>
</phpunit>
