.int_up {
	background-color: rgba(148, 179, 107, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}

.int_up_wo_alias {
	background-color: rgba(255, 122, 48, 0.8);
	text-align: center;
	width: 12.5%;
	color: #eeeeee;
}

.int_errors {
	background-color: rgba(251, 74, 20, 0.8);
	text-align: center;
	width: 12.5%;
	color: #eeeeee;
}

.int_discards {
	background-color: rgba(250, 253, 158, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}

.int_no_graph {
	background-color: rgba(205, 207, 196, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}

.int_no_device {
	background-color: color: rgba(250, 253, 158, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}

.int_changed {
	background-color: rgba(242, 25, 36, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}

.int_down {
	background-color: rgba(242, 23, 33, 0.8);
	text-align: center;
	width: 12.5%;
	color: #eeeeee;
}
.authn_success {
	background-color: rgba(148, 179, 107, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}
.auth_success {
	background-color: rgba(126, 168, 129, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}
.authn_failed {
	background-color: rgba(242, 23, 33, 0.8);
	text-align: center;
	width: 12.5%;
	color: #eeeeee;
}
.auth_failed {
	background-color: rgba(255, 122, 48, 0.8);
	text-align: center;
	width: 12.5%;
	color: #eeeeee;
}
.running {
	background-color: rgba(251, 74, 20, 0.8);
	text-align: center;
	width: 12.5%;
	color: #eeeeee;
}
.idle {
	background-color: rgba(250, 253, 158, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}
.auth_no_method {
	background-color: rgba(205, 207, 196, 0.8);
	text-align: center;
	width: 12.5%;
	color: #000000;
}

