.mtChart {
	color: #CC6633 !important;
}

.mtChartDisabled {
	color: #9999CC !important;
}

.mtEdit {
	color: #333333 !important;
}

.mtSync {
	color: #66FF66 !important;
}

.mtRanges {
	color: #006633 !important;
}

.mtInterfaces {
	color: #993300 !important;
}

.mtNetwork {
	color: #660033 !important;
}

.mtMacs {
	color: #FF9999 !important;
}

.mtServer {
	color: #336600 !important;
}

.mtPorts {
	color: #993300 !important;
}

.mtIps {
	color: #3399FF !important;
}

.int_up {
	background-color: rgba(148, 179, 107, 0.8);
	color: #eeeeee;
}

.int_up_wo_alias {
	background-color: rgba(255, 122, 48, 0.8);
	color: #eeeeee;
}

.int_errors {
	background-color: rgba(251, 74, 20, 0.8);
	color: #eeeeee;
}

.int_discards {
	background-color: rgba(250, 253, 158, 0.8);
	color: #eeeeee;
}

.int_no_graph {
	background-color: rgba(205, 207, 196, 0.8);
	color: #eeeeee;
}

.int_no_device {
	background-color: color: rgba(250, 253, 158, 0.8);
	color: #eeeeee;
}

.int_changed {
	background-color: rgba(242, 25, 36, 0.8);
	color: #eeeeee;
}

.int_down {
	background-color: rgba(242, 23, 33, 0.8);
	color: #eeeeee;
}

.dot1x_authn_success {
	background-color: rgba(148, 179, 107, 0.8);
	color: #eeeeee;
}

.dot1x_auth_success {
	background-color: rgba(148, 179, 107, 0.8);
	color: #eeeeee;
}

.dot1x_authn_failed {
	background-color: rgba(242, 23, 33, 0.8);
	color: #eeeeee;
}

.dot1x_auth_failed {
	background-color: rgba(255, 122, 48, 0.8);
	color: #eeeeee;
}

.dot1x_running {
	background-color: rgba(251, 74, 20, 0.8);
	color: #eeeeee;
}

.dot1x_idle {
	background-color: rgba(250, 253, 158, 0.8);
	color: #eeeeee;
}

.dot1x_auth_no_method {
	background-color: rgba(205, 207, 196, 0.8);
	color: #000000;
}
