.mtChart {
	color: #CC6633;
}

.mtChartDisabled {
	color: #9999CC;
}

.mtEdit {
	color: #333333;
}

.mtSync {
	color: #66FF66;
}

.mtRanges {
	color: #006633;
}

.mtInterfaces {
	color: #993300;
}

.mtNetwork {
	color: #660033;
}

.mtMacs {
	color: #FF9999;
}

.mtServer {
	color: #336600;
}

.mtPorts {
	color: #993300;
}

.mtIps {
	color: #3399FF;
}

.int_up {
	background-color: rgba(148, 179, 107, 0.8);
	color: #eeeeee;
}

.int_up_wo_alias {
	background-color: rgba(255, 122, 48, 0.8);
	color: #eeeeee;
}

.int_errors {
	background-color: rgba(251, 74, 20, 0.8);
	color: #eeeeee;
}

.int_discards {
	background-color: rgba(250, 253, 158, 0.8);
	color: #eeeeee;
}

.int_no_graph {
	background-color: rgba(205, 207, 196, 0.8);
	color: #000000;
}

.int_no_device {
	background-color: color: rgba(250, 253, 158, 0.8);
	color: #000000;
}

.int_changed {
	background-color: rgba(242, 25, 36, 0.8);
	color: #eeeeee;
}

.int_down {
	background-color: rgba(242, 23, 33, 0.8);
	color: #eeeeee;
}
.authn_success {
	background-color: rgba(148, 179, 107, 0.8);
	color: #eeeeee;
}
.auth_success {
	background-color: rgba(126, 168, 129, 0.8);
	color: #eeeeee;
}
.authn_failed {
	background-color: rgba(242, 23, 33, 0.8);
	color: #eeeeee;
}
.auth_failed {
	background-color: rgba(255, 122, 48, 0.8);
	color: #eeeeee;
}
.running {
	background-color: rgba(251, 74, 20, 0.8);
	color: #eeeeee;
}
.idle {
	background-color: rgba(250, 253, 158, 0.8);
	color: #000000;
}
.auth_no_method {
	background-color: rgba(205, 207, 196, 0.8);
	color: #000000;
}
